<!--Password reset confirmation page-->
<!--Setup-->
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'shows/style.css' %}" />
<head>
    <link rel="icon" href="https://tvshowpremieredate.pythonanywhere.com/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="https://tvshowpremieredate.pythonanywhere.com/favicon.png" type="image/png">
    <title>Reset Password</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<header><h1>tvshowpremieredate</h1></header>
<img src="https://tvshowpremieredate.pythonanywhere.com/menu.png" type="image/png" class="menu" id="menu">
<a href="https://tvshowpremieredate.pythonanywhere.com/home" class="button menu-list" id="home">HOME</a>

<!--Display rotating menu button for smaller screens-->
<script>
    var menu = document.getElementById("menu");
    var home = document.getElementById("home");
    menu.onclick = function() {
        if (home.style.display != "block")
        {
            // show buttons
            home.style.display = "block";
            // rotate menu icon
            menu.style.transform = "rotate(90deg)";
            menu.style.transition = "all .12s";
        }
        else
        {
            //hide buttons
            home.style.display = "none";
            //rotate menu icon back
            menu.style.transform = "rotate(0deg)";
            menu.style.transition = "all .12s";
        }
}
</script>
{% block content %}
<div id="box">
    {% if validlink %}
    {% for field in form %}
        {% for error in field.errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    <form method="post">
        <!--Display form for resetting password-->
        {% csrf_token %}
        <p>
            <label for="new_password1">NEW PASSWORD:</label>
            <input id="new_password1" type="password" name="new_password1" class="textbox" required/>
        </p>
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        <p>
            <label for="new_password2">NEW PASSWORD CONFIRMATION:</label>
            <input id="new_password2" type="password" name="new_password2" class="textbox"/>
        </p>
        <button type="submit" class="button">CHANGE PASSWORD</button>
    </form>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
</div>
{% endblock %}
<p>Created by Erica Diaz. </p><p>Questions? Email tvshowpremieredate@gmail.com</p>