<!--Password reset form page-->
<!--Setup-->
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'shows/style.css' %}" />
<head>
    <link rel="icon" href="https://tvshowpremieredate.pythonanywhere.com/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="https://tvshowpremieredate.pythonanywhere.com/favicon.png" type="image/png">
    <title>Forgotten Password Request</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<header><h1>tvshowpremieredate</h1></header>
<img src="https://tvshowpremieredate.pythonanywhere.com/menu.png" type="image/png" class="menu" id="menu">
<a href="https://tvshowpremieredate.pythonanywhere.com/home" class="button menu-list" id="home">HOME</a>

<!--Display rotating menu button for smaller screens-->
<script>
    var menu = document.getElementById("menu");
    var home = document.getElementById("home");
    menu.onclick = function() {
        if (home.style.display != "block")
        {
            // show buttons
            home.style.display = "block";
            // rotate menu icon
            menu.style.transform = "rotate(90deg)";
            menu.style.transition = "all .12s";
        }
        else
        {
            //hide buttons
            home.style.display = "none";
            //rotate menu icon back
            menu.style.transform = "rotate(0deg)";
            menu.style.transition = "all .12s";
        }
}
</script>
{% block content %}
<div id="box">
    <form method="post">
    {% csrf_token %}
    <p>
        <label for="email">EMAIL:</label>
        <input id="email" type="email" name="email" class="textbox" required/>
    </p>
    <button type="submit" class="button">SUBMIT</button>
    </form>
</div>
{% endblock %}
<p>Created by Erica Diaz. </p><p>Questions? Email tvshowpremieredate@gmail.com</p>